# Ignore output data and logs
output/
*.lammpstrj
*.log
*.xyz
*.lammps
*.dump

# Python & Jupyter
__pycache__/
*.pyc
*.ipynb_checkpoints

# Virtual environments & configs
.venv/
.env/
.vscode/